{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for item in listing %}
    
    
<div class="container-fluid" style="margin-top: 5px;">
    
    <div class="row"; style="padding-top: 10px; border:solid 1px lightgray" >
      
        <div  class="col-sm-4" > 
            {% if item.image %}
             <img style="width:130px;height:130px;" src= "{{MEDIA_URL}}{{item.image}}" alt="{{item.image}}"/> 
             {% endif %}
            </div>
     
        <div class="col-sm-8"> 
        <p style="font-size: larger; font-weight: bold; ">  <a href="auctions/{{item.id}}">{{ item.name }}</a> </p>
        <p style="font-size: medium; font-weight: bold; ">Price:${{ item.start_bid }} </p>
        <p style="font-size: medium;  ">{{ item.description }} </p>
        <p style="font-size: small;  ">created:{{ item.created }} </p>
        
        </div> 
    
    </div>

</div>
       
        {% endfor %}
        

    
{% endblock %}